// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome.scss';
// .navbar-laravel {
//     background-color: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
$text-default: white;
.text-default {
    color: $text-default;
}

.unstyle-link,
.unstyle-link:hover,
.unstyle-link:active {
    text-decoration: none;
    color: $text-default;
}