// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome.scss';
// .navbar-laravel {
//     background-color: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
$text-default: white;
.text-default {
    color: $text-default;
}

.unstyle-link,
.unstyle-link:hover,
.unstyle-link:active {
    text-decoration: none;
    color: $text-default;
}

.w-btn {
    font-size: 1em;
    color: #ffffff;
    background: #00a98f;
    border: 1px solid #00a98f;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
    text-transform: uppercase;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Raleway', sans-serif;
    &:hover {
        background: #333;
        color: #fff;
        border: 1px solid #333;
    }
}

.active-session-msn {
    color: #333 !important;
    text-align: justify !important;
    margin-bottom: 50px !important;
    letter-spacing: 2px !important;
    font-size: 1em !important;
}

.content-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
    @include clearfix;
    &>div>a>h1 {
        margin: 0;
        padding: 0;
        border-bottom: none;
        height: 50px;
    }
}

.normalize-menu {
    background-color: inherit !important;
    border-color: inherit !important;
    margin-bottom: 0px !important;
    border: none !important;
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #myNavbar {
        position: absolute;
        width: 256px;
        right: 15px;
        background-color: #fff;
        box-shadow: 0 0 2px #ddd;
        border-top: none;
        &>ul {
            float: left !important;
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}